body {
    opacity: 0; 
    
    background-image: url(../pics/img/home.png);
    transition: opacity 2s;
}
#header {
    font-family: 'Actor', sans-serif;
    display: inline; 
    font-size: 25px; 
    position: absolute; 
    top: 5%; 
    right: 10%; 
}
h1 {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    text-align: center; 
    position: absolute; 
    /* top: 5%;  */
    left: 50%;  
    transform: translateX(-50%); 
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center; 

    position: relative; 
    top: 130px; 
    /* position: absolute; 
    top: 10%; 
    left: 50%;  
    transform: translateX(-50%); */
}
h3 {
    font-family: 'Actor', sans-serif; 
    text-align: center; 
}
.item1 {
    position: absolute; 
    top: 30%; 
    left: 10%; 
}
.item2 {
    position: absolute; 
    top: 30%; 
    left: 40%;
}
.item3 {
    position: absolute; 
    top: 30%; 
    left: 70%; 
}

.date1 {
    position: absolute; 
    /* left: 165px;
    top: 550px; */
    top: 75%; 
    left: 10%;
    width: 300px; 
}
.date2 {
    position: absolute; 
    /* left: 570px; 
    top: 550px;  */
    top: 75%; 
    left: 40%; 
    width: 300px; 

}
.date3 {
    position: absolute; 
    /* left: 975px;
    top: 550px; */
    top: 75%; 
    left: 70%; 
    width: 300px; 
}
.navbar-item {
    opacity: 0.7;  
    text-decoration: none;
 }
.navbar-item:hover{
     opacity: 1;
     text-decoration: underline; 
 }


.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    height: 20px; 
    width: 20px; 
    display: inline-block;
    padding: 3px;
    opacity: 0.5; 
}

.arrow:hover {
    opacity: 1; 
    cursor: pointer; 
}
.right {
    position: absolute;
    top: 50%; 
    right: 5%; 
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* @keyframes slide-to-left {
    0% {
        left: 50%; 
    } 
    50% {
        left: 25%; 
    }
    100% {
        left: 0%; 
    }
} */

.left {
    position: absolute;
    top: 50%; 
    left: 5%; 
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}